body {
  --colorMidnightBlue: #2c3e50;
  --colorClouds: #ecf0f1;
  background: #34495e;
  margin: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.header {
  background: var(--colorMidnightBlue);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0px;
}
.pokedex-logo {
  background: var(--colorClouds);
  border-radius: 100%;
  margin: 0px 10px;
  display: block;
}
.pokedex-title {
  font-size: 1.5em;
  margin: 0px;
  color: var(--colorClouds);
}
.pokedex {
  margin: 60px 20px 0px 20px;
}
.wrap-pokemon-name {
  background: var(--colorClouds);
  border-radius: 5px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
}
.pokemon-name {
  margin: 0px 10px;
}
.icon-type {
  display: block;
}
.pokemon-img {
  display: block;
  width: 100%;
}
.pokemon-info {
  background: var(--colorClouds);
  border-radius: 5px;
  display: grid;
  grid-template: 1fr / repeat(2, 1fr);
  padding: 50px 10px 30px 10px;
  text-transform: uppercase;
  position: relative;
  top: -60px;
  z-index: -1;
}
.info-items {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.info-items label:nth-child(2) {
  font-weight: bold;
}
.footer {
  background: var(--colorMidnightBlue);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto repeat(2, 1fr);
  grid-template-areas: "title title" "pokemon_1 pokemon2" "pokemon_3 pokemon_4";
  grid-gap: 10px 30px;
  padding: 0px 20px;
}
.others-title {
  grid-area: title;
  text-align: center;
  color: var(--colorClouds);
}
.other-img {
  width: 100%;
  background: var(--colorClouds);
  border-radius: 5px;
}
.other-img:hover {
  background: #bbbbbb;
  transition: 0.2s;
  cursor: pointer;
}
@media (min-width: 768px) {
  .header {
    justify-content: flex-start;
  }
  .pokedex {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    grid-gap: 0px 50px;
    margin-top: 20px;
  }
  .pokemon-info {
    top: 0px;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    padding: 0px;
  }
  .footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  .others-title {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
  }
  .other-img {
    width: 10%;
  }
  .wrap-others {
    grid-template: 1fr / repeat(4, 1fr);
    margin: 0px;
  }
}
@media (min-width: 1260px) {
  .pokedex {
    margin: 15px 200px 0px 200px;
  }
  .footer {
    padding: 10px 200px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }
  .other-img {
    width: 10%;
  }
}
@media (min-width: 1920px) {
  .header {
    padding: 20px 0px;
  }
  .pokedex {
    margin: 58px 300px;
    grid-gap: 0px 150px;
  }
  .info-items {
    font-size: 1.5em;
  }
  .footer {
    padding: 30px 300px;
  }
}
